.loader {
    @include bounce;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: $color-light-gray;
    animation: hidden 2500ms;
    opacity: 0;
    z-index: -1;
    gap: 1rem;


    &__circle {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: gradient($color-secondary, $color-primary);
    }

    @for $i from 1 through 3 {
        &>:nth-child(#{$i}) {
            animation-name: bounce;
            animation-duration: 700ms;
            animation-delay: #{$i * 0.1}s;
            animation-iteration-count: infinite;
        }
    }
}


@keyframes hidden {
    0% {
        opacity: 1;
        z-index: 1;
    }

    90% {
        opacity: .8;
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: 1;
    }
}