@mixin btn_grad($padding_X: 1.5rem) {
    cursor: pointer;
    padding: 1rem $padding_X;
    font-size: 1rem;
    border-radius: 1.5rem;
    font-weight: 300;
    color: white;
    border: none;
    background: gradient($color-secondary, $color-primary);
    @include shadow;
    transition: box-shadow .5s;

    &:hover {
        background: gradient(lighten($color-secondary, 6%), lighten($color-primary, 6%));
        box-shadow: 5px 10px 15px -5px grey;
    }
}