@mixin btn_grad($padding_X: 1.5rem) {
    cursor: pointer;
    padding: 1rem $padding_X;
    font-size: 1rem;
    border-radius: 1.5rem;
    font-weight: 300;
    color: white;
    border: none;
    background: $color-primary;
    background: $gradient;
    @include shadow;
}